
   <body>
      <div id="error-page">
         <div class="content">
            <h2 class="header" data-text="404">
               404
            </h2>
            <h4 data-text="Opps! Page not found">
               Opps! Page not found
            </h4>
            <p class="p">
               Sorry, the page you're looking for doesn't exist. If you think something is broken, report a problem.
            </p>
            <div class="btns">
               <a href="http://localhost:2000">return home</a>
              
            </div>
         </div>
      </div>
   </body>
<style>
    *{
        background-color:black;
    }
    p{
        color: red;
        text-align: center;
    }
    .btns{
        text-align: center;
        color: red;
    }
    .header{
        font-size: 5rem;
        text-align: center;
        color: red;
    }
</style>